#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS


#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE  
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
	"#include ""afxres.h"""
	"\0"
END

#endif // APSTUDIO_INVOKED


IDR_MAINFRAME_STRESS           BITMAP      "resources\\Toolbar.bmp"
IDB_BITMAP_ICONS		BITMAP  MOVEABLE PURE   "resources\\PaneIcons.bmp"


IDR_MAINFRAME_STRESS TOOLBAR   32, 32
BEGIN
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
	SEPARATOR
    BUTTON      ID_APP_ABOUT
END


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 9, 1
#pragma code_page(1252)

IDR_MAINFRAME_STRESS           ICON         "resources\\app.ico"


IDR_MAINFRAME_STRESS MENU   
BEGIN
	POPUP "&View"
	BEGIN
		MENUITEM "&Toolbar",                    ID_VIEW_TOOLBAR
		MENUITEM SEPARATOR
    MENUITEM "&Analog disturbance"          ID_VIEW_ANALOG_DISTURBANCE
    MENUITEM "&Config"                      ID_VIEW_CONFIG
		MENUITEM "&Status Bar",                 ID_VIEW_STATUS_BAR
	END

  POPUP "&Disturbance"
  BEGIN
    MENUITEM "&Start"                     ID_DEVICE_START
    MENUITEM "Sto&p"                      ID_DEVICE_STOP
  END

  POPUP "&Help"
	BEGIN
		MENUITEM "&About CANStress",          ID_APP_ABOUT
	END
END


IDR_MAINFRAME_STRESS ACCELERATORS   
BEGIN
	"C",            ID_EDIT_COPY,           VIRTKEY,CONTROL,NOINVERT
	"V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL,NOINVERT
	VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT,NOINVERT
	VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT,NOINVERT
	VK_F6,          ID_NEXT_PANE,           VIRTKEY,NOINVERT
	VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT,NOINVERT
	VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL,NOINVERT
	VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT,NOINVERT
	"X",            ID_EDIT_CUT,            VIRTKEY,CONTROL,NOINVERT
	"Z",            ID_EDIT_UNDO,           VIRTKEY,CONTROL,NOINVERT
  
  VK_F9,           ID_DEVICE_START,         VIRTKEY,NOINVERT
  VK_ESCAPE,       ID_DEVICE_STOP,          VIRTKEY,NOINVERT
END


STRINGTABLE  
BEGIN
	IDP_OLE_INIT_FAILED   	"OLE initialization failed.  Make sure that the OLE libraries are the correct version."
END
STRINGTABLE   
BEGIN
// Non-mac-targeting apps remove the two extra substrings
	IDR_MAINFRAME_STRESS           "CANStress"
END

STRINGTABLE   
BEGIN
  ID_INDICATOR_DEVICE_CONNECT    "Device Connect State"
END
#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)